{% extends "base.html" %} 
{% block title %} Admin Home {% endblock %} 

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <div class="navbar-nav">
        <a class="nav-item nav-link" id="home" href="/conductor-home">Home</a>
        <a class="nav-item nav-link" id="home" href="/conductor-manage-trips">Manage Routes</a>
        <a class="nav-item nav-link" id="home" href="/conductor-manage-trips">Wallet Recharge </a>
        <a class="nav-item nav-link" id="home" href="/conductor-manage-trips">Manage Conductors</a>
        <a class="nav-item nav-link" id="home" href="/conductor-manage-trips">Financial Stats</a>
        <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
      </div>
    </div>
  </nav>
{% endblock %}