{% extends "base.html" %} 
{% block title %} Conductor Home {% endblock %} 

{% block content %}



<!-- DETAILS-->
<div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" ><b>Particulars</b></th>
      <th scope="col"><b>Details</b></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Name</th>
      <td>{{user.name}}</td>
    </tr>
    <tr>
      <th scope="row">Account Number</th>
      <td>{{user.account_number}}</td>
    </tr>
    <tr>
      <th scope="row">Phone Number</th>
      <td>{{user.phone_number}}</td>
    </tr>
    <tr>
      <th scope="row">Account Type</th>
      <td>{{user.type}}</td>
    </tr>
    
  </tbody>
</table>
</div>
  Name : {{user.first_name}}
  {% for conductor_detail  in user.conductors %}
  {{conductor_detail.bus}}
  {% endfor %}
  <br>
  {{data.bus}}
  {{data.id}}
  {{user.name}}
{% endblock %}