{% extends "base.html" %} 
{% block title %} User Home {% endblock %} 

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <div class="navbar-nav">
        <a class="nav-item nav-link" id="home" href="/user-home">Home</a>
        <a class="nav-item nav-link" id="home" href="/user-enquire-route">Route Enquire</a>
        <a class="nav-item nav-link" id="home" href="/user-travel-history">Tarvel History</a>
        <a class="nav-item nav-link" id="home" href="/user-wallet">Wallet</a>
        <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
      </div>
    </div>
</nav>
<div>
Name : {{data["name"]}} 
<br>
Phone No :{{data["phone_number"]}} 
<br>
Account Number : {{data["account_number"]}}
<br>
Account Type : {{data["account_type"]}}

</div>

</div>


{% endblock %}
