{% extends "base.html" %} 
{% block title %}  {% endblock %} 

{% block content %}

<hr>
<div>
  <h1>Balance <span class="badge badge-secondary">Rs.{{user.balance}}</span></h1>
<hr>

<form method="POST">
  <h3 align="center">Scratch Card</h3>
  <div class="form-group">
    <label for="from">Card No</label>
    <input
      type="text"
      class="form-control"
      id="card_number"
      name="card_number"
      placeholder="Enter Card Number"
    />
  </div>
  <div class="form-group">
    <label for="Security Hash">Security Hash</label>
    <input
      type="text"
      class="form-control"
      id="security_hash"
      name="security_hash"
      placeholder="Enter Security Hash"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Recharge</button>
</form>
<hr>

<h3 align="center">Recharge History</h3>
{% endblock %}